<article class="post">
    <header>
        <h2 class="post__title">
            Lorem ipsum dolor sit amet.
        </h2>
    </header>
    <div class="post__body">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non debitis enim dicta repellat asperiores doloremque harum iusto, id, voluptates hic quaerat sequi illum distinctio aut sunt aperiam laboriosam. Accusantium vel rerum omnis, voluptas earum autem ipsum officia optio. A quaerat eos laudantium ipsa accusamus unde obcaecati fugit magni aliquam nam!
    </div>
</article>